@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);





body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ffd785 !important;
}
.bg-success {
  background-color: #ffd785 !important;
}
.bg-info {
  background-color: #fffffd !important;
}
.bg-warning {
  background-color: #ffd785 !important;
}
.bg-danger {
  background-color: #ff9685 !important;
}
.btn-primary {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-secondary {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-info {
  background-color: #fffffd;
  border-color: #fffffd;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #ffffb1;
  border-color: #ffffb1;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ffffb1 !important;
  border-color: #ffffb1 !important;
}
.btn-success {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-warning {
  background-color: #ffd785;
  border-color: #ffd785;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ffbe38;
  border-color: #ffbe38;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbe38 !important;
  border-color: #ffbe38 !important;
}
.btn-danger {
  background-color: #ff9685;
  border-color: #ff9685;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff5438;
  border-color: #ff5438;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5438 !important;
  border-color: #ff5438 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-info-outline {
  background: none;
  border-color: #ffff97;
  color: #ffff97;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #fffffd;
  border-color: #fffffd;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fffffd !important;
  border-color: #fffffd !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffb61f;
  color: #ffb61f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffd785;
  border-color: #ffd785;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffd785 !important;
  border-color: #ffd785 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff3e1f;
  color: #ff3e1f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff9685;
  border-color: #ff9685;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9685 !important;
  border-color: #ff9685 !important;
}
.text-primary {
  color: #ffd785 !important;
}
.text-success {
  color: #ffd785 !important;
}
.text-info {
  color: #fffffd !important;
}
.text-warning {
  color: #ffd785 !important;
}
.text-danger {
  color: #ff9685 !important;
}
.alert-success {
  background-color: #ffd785;
}
.alert-info {
  background-color: #fffffd;
}
.alert-warning {
  background-color: #ffd785;
}
.alert-danger {
  background-color: #ff9685;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffd785;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffd785;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffd785;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffd785;
}
.lead a,
.lead a:hover {
  color: #ffd785;
}
.lead blockquote {
  border-color: #ffd785;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* direct-m */
a {
  color: #fffffd;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #ffd785;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #ffd785;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #ffd785;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Montserrat', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #ffd785;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #ffcb61, #ffd785, #ffe8b8);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #ffd785 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #ffd785;
}
.tabs1 .colorBG {
  background-color: #ffd785;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #ffd785;
}
.content4 p {
  border-bottom: 3px solid #ffd785;
  border-top: 3px solid #ffd785;
}
/*follow1*/
.follow1 .btn-social {
  color: #ffd785;
  border-color: #ffd785;
}
.follow1 .btn-social:hover {
  color: #ffe8b8;
  background: rgba(255, 215, 133, 0.1);
  border-color: #ffe8b8;
}
/*share1*/
.share1 .btn-social {
  color: #ffd785;
  border-color: #ffd785;
}
.share1 .btn-social:hover {
  color: #ffe8b8;
  background: rgba(255, 215, 133, 0.1);
  border-color: #ffe8b8;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #ffd785;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Montserrat', sans-serif;
}
.mbr-gallery-filter li {
  color: #fffffd;
}
.btn-empty:focus {
  color: #ffd785;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #fffffd;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #ffd785;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #ffd785;
}
.hamburger-icon {
  background-color: #ffd785 !important;
}
.hamburger-icon:before {
  background-color: #ffd785;
}
.hamburger-icon:after {
  background-color: #ffd785;
}
#menu1-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-4 .navbar-toggler {
  color: #fffffd;
}
#menu1-4 .close-icon::before,
#menu1-4 .close-icon::after {
  background-color: #fffffd;
}
#menu1-4 .link,
#menu1-4 .dropdown-item {
  color: #fffffd;
  font-family: 'Montserrat', sans-serif;
}
#menu1-4 .link {
  font-size: 1.1rem;
}
#menu1-4 .dropdown-item,
#menu1-4 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu1-4 .link:hover,
#menu1-4 .link:focus {
  color: #ffd785;
}
#menu1-4 .dropdown-item:hover::before,
#menu1-4 .dropdown-item:focus::before {
  background: #ffd785;
}
#menu1-4 .dropdown-item:hover,
#menu1-4 .dropdown-item:focus {
  color: #fffffd;
}
#menu1-4 .link[aria-expanded="true"],
#menu1-4 .dropdown-menu {
  background: #2d2d2d;
}
#menu1-4 .nav-dropdown-sm .link:focus,
#menu1-4 .nav-dropdown-sm .link:hover,
#menu1-4 .nav-dropdown-sm .dropdown-item:focus,
#menu1-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #252525!important;
}
#menu1-4 .navbar,
#menu1-4 .nav-dropdown-sm,
#menu1-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-4 .nav-dropdown-sm .dropdown-menu {
  background: #2d2d2d;
}
#menu1-4 .bg-color.transparent .link {
  color: #fffffd;
  transition: none;
}
#menu1-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-4 .bg-color.transparent.opened .link:hover,
#menu1-4 .bg-color.transparent.opened .link:focus {
  color: #ffd785;
}
#menu1-4 .link[aria-expanded="true"],
#menu1-4 .dropdown-item[aria-expanded="true"] {
  color: #ffd785!important;
}
#menu1-4 .navbar-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#header2-8 .mbr-section-title,
#header2-8 .mbr-section-subtitle {
  color: #ffffff;
}
#header2-8 .mbr-iconfont {
  color: undefined;
  border-color: undefined;
}
#header2-8 .mbr-table-cell {
  vertical-align: middle;
}
#header2-8 .heading-title {
  text-align: center;
  color: #fffffd;
}
#header2-8 .heading-text {
  text-align: center;
  color: #fffffd;
}
