.u-section-1 {background-image: url("images/pexelsphoto1267696.png")}
.u-section-1 .u-sheet-1 {min-height: 869px}
.u-section-1 .u-layout-wrap-1 {margin: 20px auto 20px 0}
.u-section-1 .u-layout-cell-1 {min-height: 829px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 303px}
.u-section-1 .u-text-1 {font-size: 1.125rem; margin: 50px 0 85px}
.u-section-1 .u-layout-cell-2 {min-height: 829px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-2 {margin: 20px 0 85px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 250px}
.u-section-1 .u-text-1 {position: relative}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-text-2 {position: relative; font-weight: 900; text-transform: uppercase; font-size: 6rem} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 98px}
.u-section-1 .u-text-1 {width: auto}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1005px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 178px}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 278px}
.u-section-1 .u-text-1 {margin-top: 16px; margin-bottom: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 744px}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-text-2 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 869px}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 829px}
.u-section-1 .u-container-layout-1 {padding-left: 6px; padding-right: 90px}
.u-section-1 .u-text-1 {margin-top: 50px; margin-bottom: 85px; width: NaNpx}
.u-section-1 .u-layout-cell-2 {min-height: 829px}
.u-section-1 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-1 .u-text-2 {margin-bottom: 85px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 524px}
.u-section-2 .u-layout-wrap-1 {margin: 76px auto 20px 0}
.u-section-2 .u-layout-cell-1 {min-height: 372px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-1 {font-weight: 900; line-height: 1.5; margin: 105px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 372px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-text-2 {margin: 105px 20px 0 0}
.u-section-2 .u-btn-1 {text-transform: uppercase; font-weight: 800; font-size: 0.875rem; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 523px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-1 {position: relative; animation-duration: 1000ms}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-2 {margin-right: 16px; position: relative}
.u-section-2 .u-btn-1 {position: relative} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-container-layout-2 {padding-left: 13px; padding-right: 10px}
.u-section-2 .u-text-2 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 5px}
.u-section-2 .u-text-2 {margin-right: 6px} }

@media (max-width: 575px){ .u-section-2 .u-container-layout-2 {padding-right: 1px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 1070px}
.u-section-3 .u-layout-wrap-1 {width: 1133px; margin: 125px auto 105px 0}
.u-section-3 .u-layout-cell-1 {min-height: 420px}
.u-section-3 .u-image-1 {margin-top: -185px; margin-right: auto; margin-left: 64px; height: 585px; width: 387px}
.u-section-3 .u-layout-cell-2 {min-height: 420px}
.u-section-3 .u-image-2 {width: 397px; right: auto}
.u-section-3 .u-layout-cell-3 {min-height: 840px}
.u-section-3 .u-container-layout-3 {padding-left: 318px; padding-right: 29px}
.u-section-3 .u-text-1 {font-size: 9.125rem; line-height: 1; text-transform: uppercase; font-weight: 900; margin: 45px 0}
.u-section-3 .u-layout-cell-4 {min-height: 420px}
.u-section-3 .u-image-3 {margin-top: -259px; margin-right: auto; margin-left: 0; height: 659px; width: 448px}
.u-section-3 .u-layout-cell-5 {min-height: 420px}
.u-section-3 .u-btn-1 {font-size: 0.875rem; text-transform: uppercase; font-weight: 800; margin: 30px auto}
.u-section-3 .u-layout-cell-6 {background-image: none; min-height: 420px}
.u-section-3 .u-image-4 {margin-top: 84px; margin-right: auto; margin-left: 0; height: 316px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {width: 934px}
.u-section-3 .u-image-1 {height: 482px; margin-left: 53px; width: 319px}
.u-section-3 .u-image-2 {width: 327px; left: 0}
.u-section-3 .u-container-layout-3 {padding-left: 262px; padding-right: 24px}
.u-section-3 .u-text-1 {animation-duration: 1000ms}
.u-section-3 .u-image-3 {height: 543px; width: 370px}
.u-section-3 .u-btn-1 {position: relative}
.u-section-3 .u-image-4 {height: 261px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {width: 716px}
.u-section-3 .u-image-1 {height: 369px; width: 334px; margin-bottom: 216px; margin-left: 33px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {width: 455px; height: 539px; right: auto; left: auto; bottom: auto; top: auto; margin: -139px auto 0 0}
.u-section-3 .u-container-layout-3 {padding-left: 252px; padding-right: 15px}
.u-section-3 .u-text-1 {width: auto}
.u-section-3 .u-image-3 {height: 450px; width: 348px; margin-top: -50px; margin-left: auto; margin-bottom: 0}
.u-section-3 .u-image-4 {height: 200px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-image-1 {height: 346px; margin-left: 16px; width: 313px}
.u-section-3 .u-image-2 {width: 426px; height: 505px}
.u-section-3 .u-container-layout-3 {padding-left: 69px; padding-right: 57px}
.u-section-3 .u-image-3 {width: 326px}
.u-section-3 .u-btn-1 {margin-top: 40px; margin-bottom: 40px}
.u-section-3 .u-image-4 {height: 655px; margin-top: -255px; margin-bottom: 0; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-image-1 {height: 340px; margin-left: 5px}
.u-section-3 .u-image-2 {height: 539px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-container-layout-3 {padding-left: 21px; padding-right: 17px}
.u-section-3 .u-text-1 {width: 302px}
.u-section-3 .u-image-3 {height: 445px; margin-bottom: 5px}
.u-section-3 .u-image-4 {height: 474px; margin-top: -141px; margin-bottom: 67px; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: none; min-height: 608px}
.u-section-4 .u-layout-wrap-1 {width: 1406px; margin: 0 0 0 auto}
.u-section-4 .u-layout-cell-1 {min-height: 608px; background-image: none}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {font-weight: 900; line-height: 1.5; font-size: 2.25rem; margin: 40px 0 0}
.u-section-4 .u-text-2 {margin: 20px 0 40px}
.u-section-4 .u-layout-cell-2 {min-height: 608px; background-image: none}
.u-section-4 .u-container-layout-2 {padding-left: 20px}
.u-section-4 .u-text-3 {margin: 126px 20px 0 0}
.u-section-4 .u-btn-1 {background-image: none; font-weight: 800; font-size: 0.875rem; text-transform: uppercase; margin: 65px auto 60px 0}
.u-section-4 .u-image-1 {background-image: url("images/pexelsphoto698857.png"); min-height: 608px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {width: 993px; min-height: 608px; margin-right: auto; margin-left: calc(((100% - 1140px) / 2) + 47px)}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative}
.u-section-4 .u-text-2 {position: relative}
.u-section-4 .u-container-layout-2 {padding-left: 16px}
.u-section-4 .u-text-3 {margin-right: 16px}
.u-section-4 .u-image-1 {animation-duration: 1000ms} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {width: 760px; margin-left: calc(((100% - 1140px) / 2) + 170px)}
.u-section-4 .u-layout-cell-1 {min-height: 743px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {font-size: 1.875rem}
.u-section-4 .u-layout-cell-2 {min-height: 743px}
.u-section-4 .u-container-layout-2 {padding-left: 10px}
.u-section-4 .u-text-3 {margin-right: 10px}
.u-section-4 .u-image-1 {min-height: 743px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 540px; margin-left: calc(((100% - 1140px) / 2) + 281px)}
.u-section-4 .u-layout-cell-1 {min-height: 245px}
.u-section-4 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-text-2 {margin-bottom: 0}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 5px}
.u-section-4 .u-text-3 {margin-top: 45px; margin-right: 5px}
.u-section-4 .u-btn-1 {margin-bottom: 45px}
.u-section-4 .u-image-1 {min-height: 1592px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {width: 340px; margin-left: calc(((100% - 1140px) / 2) + 381px)}
.u-section-4 .u-layout-cell-1 {min-height: 608px}
.u-section-4 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-text-2 {margin-bottom: 40px}
.u-section-4 .u-layout-cell-2 {min-height: 608px}
.u-section-4 .u-container-layout-2 {padding-left: 6px}
.u-section-4 .u-text-3 {margin-top: 126px; margin-right: 6px}
.u-section-4 .u-btn-1 {margin-bottom: 60px}
.u-section-4 .u-image-1 {min-height: 608px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 738px}
.u-section-5 .u-layout-wrap-1 {margin: 83px auto 83px 0}
.u-section-5 .u-layout-cell-1 {min-height: 573px}
.u-section-5 .u-image-1 {width: 316px; height: 314px; margin: 0 auto 55px 0}
.u-section-5 .u-text-1 {margin-left: 20px; margin-right: 20px; font-weight: 900; line-height: 1.5}
.u-section-5 .u-image-2 {background-image: url("images/pexelsphoto67449.png"); min-height: 573px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {width: 261px; height: 259px}
.u-section-5 .u-text-1 {margin-left: 16px; margin-right: 16px; position: relative} }

@media (max-width: 991px){ .u-section-5 .u-image-1 {width: 200px; height: 198px}
.u-section-5 .u-text-1 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-5 .u-image-1 {width: 187px; height: 186px}
.u-section-5 .u-text-1 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {width: 157px; height: 156px} }.u-section-6 {background-image: url("images/pexelsphoto1956974.png"); background-position: 50% 0%}
.u-section-6 .u-sheet-1 {min-height: 701px}.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 608px; margin: 0 auto}
.u-section-7 .u-layout-wrap-1 {width: 1204px; margin: 0 auto 0 0}
.u-section-7 .u-image-1 {background-image: url("images/pexelsphoto1559051.png"); min-height: 608px; background-position: 50% 50%}
.u-section-7 .u-layout-cell-2 {min-height: 608px; background-image: none}
.u-section-7 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {font-weight: 900; text-transform: uppercase; margin: 173px 0 0}
.u-section-7 .u-text-2 {font-size: 1.125rem; text-transform: uppercase; margin: 20px 0 0}
.u-section-7 .u-text-3 {margin: 20px 0 60px}
.u-section-7 .u-layout-cell-3 {min-height: 608px; background-image: none}
.u-section-7 .u-container-layout-3 {padding-left: 20px}
.u-section-7 .u-text-4 {margin: 60px 20px 0 0}
.u-section-7 .u-btn-1 {background-image: none; font-weight: 800; font-size: 0.875rem; text-transform: uppercase; margin: 20px auto 60px 0} 

@media (max-width: 1199px){ .u-section-7 .u-layout-wrap-1 {width: 940px}
.u-section-7 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-container-layout-3 {padding-left: 16px}
.u-section-7 .u-text-4 {position: relative; margin-right: 16px} }

@media (max-width: 991px){ .u-section-7 .u-layout-wrap-1 {width: 720px}
.u-section-7 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-7 .u-container-layout-3 {padding-left: 13px}
.u-section-7 .u-text-4 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-7 .u-layout-wrap-1 {width: 540px}
.u-section-7 .u-layout-cell-2 {min-height: 382px}
.u-section-7 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-7 .u-text-3 {margin-bottom: 0}
.u-section-7 .u-container-layout-3 {padding-left: 6px}
.u-section-7 .u-text-4 {margin-right: 6px} }

@media (max-width: 575px){ .u-section-7 .u-layout-wrap-1 {width: 340px}
.u-section-7 .u-layout-cell-2 {min-height: 608px}
.u-section-7 .u-text-3 {margin-bottom: 60px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 500px}
.u-section-8 .u-layout-wrap-1 {margin: 41px auto 41px 0}
.u-section-8 .u-layout-cell-1 {min-height: 418px}
.u-section-8 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-8 .u-text-1 {text-transform: uppercase; font-weight: 900; line-height: 1.5; margin: 30px 0}
.u-section-8 .u-layout-cell-2 {min-height: 418px}
.u-section-8 .u-image-1 {width: 428px; height: 460px; margin: -101px auto 40px} 

@media (max-width: 1199px){ .u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-8 .u-text-1 {position: relative}
.u-section-8 .u-image-1 {width: 353px; height: 379px} }

@media (max-width: 991px){ .u-section-8 .u-layout-cell-1 {min-height: 438px}
.u-section-8 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-8 .u-layout-cell-2 {min-height: 438px}
.u-section-8 .u-image-1 {width: 315px; height: 433px; margin-right: 0; margin-bottom: 107px} }

@media (max-width: 767px){ .u-section-8 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-8 .u-image-1 {width: 295px; height: 405px} }

@media (max-width: 575px){ .u-section-8 .u-container-layout-1 {padding-left: 2px; padding-right: 2px}
.u-section-8 .u-image-1 {height: 340px; margin-top: -16px; margin-bottom: 115px} }.u-section-9 {background-image: none}
.u-section-9 .u-image-1 {width: 650px; height: 567px; margin: 1px auto 0 0}
.u-section-9 .u-sheet-1 {min-height: 569px; margin: -568px auto 0}
.u-section-9 .u-layout-wrap-1 {width: 1140px; margin: 98px auto 0 -1px}
.u-section-9 .u-layout-cell-1 {min-height: 373px}
.u-section-9 .u-layout-cell-2 {background-image: none; min-height: 373px}
.u-section-9 .u-text-1 {font-size: 1.125rem; margin: 26px 128px 0 20px}
.u-section-9 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 158px; min-width: 94px; margin: 20px auto 0 20px}
.u-section-9 .u-icon-1 {height: 100%}
.u-section-9 .u-icon-2 {height: 100%}
.u-section-9 .u-icon-3 {height: 100%}
.u-section-9 .u-icon-4 {height: 100%}
.u-section-9 .u-text-2 {margin: 50px 20px 26px}
.u-section-9 .u-text-3 {text-transform: uppercase; font-weight: 900; line-height: 1; font-size: 4.5rem; margin: -438px 37px 33px 1011px} 

@media (max-width: 1199px){ .u-section-9 .u-image-1 {width: 536px; height: 468px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-9 .u-text-1 {margin-right: 106px; margin-left: 16px}
.u-section-9 .u-social-icons-1 {margin-left: 16px}
.u-section-9 .u-text-2 {margin-left: 16px; margin-right: 16px}
.u-section-9 .u-text-3 {margin-right: 31px; margin-left: 834px} }

@media (max-width: 991px){ .u-section-9 .u-image-1 {width: 411px; height: 443px; margin-top: 0}
.u-section-9 .u-sheet-1 {min-height: 489px; margin-top: -443px}
.u-section-9 .u-layout-wrap-1 {margin-top: 50px; width: auto; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {margin-right: 81px; margin-left: 13px}
.u-section-9 .u-social-icons-1 {margin-left: 13px}
.u-section-9 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-9 .u-text-3 {width: auto; margin-right: 23px; margin-bottom: 1px; margin-left: 639px} }

@media (max-width: 767px){ .u-section-9 .u-image-1 {width: 590px; height: 766px}
.u-section-9 .u-sheet-1 {min-height: 766px; margin-top: -766px}
.u-section-9 .u-layout-wrap-1 {margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {margin-right: 38px; margin-left: 6px}
.u-section-9 .u-social-icons-1 {margin-left: 6px}
.u-section-9 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-9 .u-text-3 {margin: -539px 0 35px 388px} }

@media (max-width: 575px){ .u-section-9 .u-image-1 {width: 340px; height: 1039px}
.u-section-9 .u-sheet-1 {min-height: 1039px; margin-top: -1039px}
.u-section-9 .u-layout-wrap-1 {margin-top: 31px; width: auto; margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 623px}
.u-section-9 .u-text-1 {margin-right: 11px; margin-left: 2px}
.u-section-9 .u-social-icons-1 {margin-left: 2px}
.u-section-9 .u-text-2 {margin-left: 2px; margin-right: 2px}
.u-section-9 .u-text-3 {margin: -956px 14px 464px 44px} }